.quiz{
    /* background-color:thistle; rgba(232, 150, 173, 0.412),
    rgba(255, 255, 255, 0), */
    background-color: white;
    border-radius: 15px;
    width: 600px;
    margin-right:auto;
    margin-left:auto;
    margin-top:auto;


    display: flex;
    flex-direction: column;
}

*{
    font-family:'Poppins', sans-serif;
    font-weight: 500;
}

.illustration{

    object-fit: cover;
    display: block;
    width: 600px;
    max-height:250px;
    border:none;
    border-bottom-right-radius:0;
    border-bottom-left-radius: 0;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    animation: img_appear 0.3s;
}


@keyframes img_appear{
    0% {opacity: 0};
    100% {opacity: 100};

}
.submit_answer{
    align-items: center;
    border:none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius:0;
    border-top-left-radius:0;
    background-color:#9F50B1 ; 
    padding-top: 18px;
    padding-bottom: 18px;
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    transition: background-color 0.5s;

}

.mode_button{
    border-radius: 10px;
    margin-left:10px;
    margin-top:10px;
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    background-color:#9F50B1 ;
    padding: 10px 10px 10px 10px;
    border:none;
}

.submit_answer:hover {
    background-color:#BD69D0 ;
}

.quiz-header{
    text-align: center;
    font-size: 16px;
    margin-left:50px;
    margin-right:50px;
    margin-top: 20px;

}


p{
    color: aliceblue;
}

body{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size:     cover;                       <------ 
    background-position: center center; 
    object-fit: cover;
    transition: all .3s ease;
/*    background-position-y:-150px;*/
/*    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);*/
}

.dark_mode{
    background-image: url(bg_dark.png);
}
.container{
    position:relative;
}


.options{
    font-size: 20px;
    
}

li {
  margin-bottom: 20px;
}

.summary{
    font-size: 20px;
    margin: 10px;
}

.result{
    color:#BD69D0;
    font-weight: 600;
    font-size: 30px;
}

