
*{

    font-family:'Poppins', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

#wrap{
    height:100%;
    width:100%;
    overflow:hidden; 
    background: hsl(210deg, 30%, 12%) ;
    color: hsl(0deg 0% 100%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }


.quiz{
    margin:30px;
    border: 1px solid hsl(210deg, 30%, 12%) ;
    min-width: 320px;
    max-width: 600px;
    color: hsl(210deg, 30%, 12%) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 30px;
    animation: img_appear 0.5s;
}


@keyframes img_appear{
    0% {opacity: 0};
    100% {opacity: 100};

}

h2, .answer{
    margin:0;
}

html,body{ margin:0; padding:0; height:100%; width:100%; }

.quiz-body{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

.result{
    font-size: 30px;
    color:#9F50B1;
    margin-top: 15px;
}

.summary{
    margin:7px 0px;
}
.quiz-header,.options{
    display: flex;
    flex-direction: column;
    margin:20px 32px;
    font-size: 21px;
    flex: 1 1 auto;
    list-style-type: none;
}

label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:4px;
    margin: 4px 0px;
}


.illustration{
    flex-shrink: 1;
    object-fit: cover;
    display: block;
    width: 100%;
    max-height:290px;
    border:none;
    border-radius: 30px 30px 0 0;
}

.submit_answer{
    width:100%;
    align-items: center;
    /* border: 1px solid hsl(210deg, 30%, 12%) ; */
    border-style: none;
    border-radius: 0 0 30px 30px;
    background-color:#9F50B1 ; 
    padding-top: 18px;
    padding-bottom: 18px;
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 20px;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 630px; 
    min-width: 138px; 
    margin: 0 auto; 
    gap:15px;

}

.questionInfo{
    margin: 0px 40px 0px 0px;
}
    

.choice{
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 0px 30px;
    /* text-align: left; */
    border-style: none;
    /* border-color: hsl(210deg, 30%, 12%) ; */
    border-radius: 50px;
    background-color:hsl(210deg, 30%, 12%) ; 
    padding:18px;
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit:none;
    background-position: 100% 40%;
}

.choice:hover{
    filter: brightness(60%);
}